*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.cont{
	
	width: 1350px
	margin:0 auto;
}

/******** 主题内容     四张图片    **********/
.main{
	height: 220px;
	margin-bottom: 60px;

}
.main li{
	float: left;
	width: 335px;
	height: 220px;
	margin: 1px;
	overflow: hidden;
	transition:all .2s linear .1s;
	position: relative;
}
.main li a{
	width: 100%;
	height: 100%;

}
.main li #gg{
	width: 100%;
	height: 68px;
	position: absolute;
	top: 40px;
	/*color: white;*/
	z-index: 9999;
}
.main li #gg h1{
	font-size: 20px;
	height: 20px;
	text-align: center;
	
	color: white;

}
.main li #gg p{
	font-size: 12px;
	height: 12px;
	text-align: center;
	margin-top: 15px;
	color: white;

}
.main li:hover img{
	transform: scale(1.3,1.3);
}
.main li img{
	width: 335px;
	height: 220px;
}


/*************  返回顶部     *******/
.back_top{
	width: 82px;
	height: 82px;
	border-radius: 50%;
	background: url(../img/1.png) no-repeat;
	background-size:cover ;
	position: fixed;
	right: 50px;
	bottom:50px ;
	opacity:0.5;
	}
.back_top:hover{
	background: url(../img/QQ9_03.jpg) no-repeat;
	background-size:cover ;
}




