@charset"utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,figure,figcaption,img{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
fieldset,img{border:0;}
img{display:block;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
input{outline:none;}
html,body{height:100%;}
#box{
	width: 1349px;
	height: 964px;
	background: #f7f7f7;
	margin:0 auto;
	position: relative;
}
.zhuce-box{
	width: 862px;
	height: 670px;
	background: white;
	position: absolute;
	margin-top: 80px;
	margin-left: 245px;
}
.zhuce-box .logo{
	display: inline-block;
	margin-top:60px;
	margin-left: 355px;
}
.zhuce-box h2{
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	margin: 34px 0 67px 0;
}
.p1{
	font-size: 14px;
	line-height: 14px;
	margin-left: 250px;
	margin-bottom: 13px;
}
#code{
	display: inline-block;
	width: 238px;
	height: 45px;
	margin-left: 250px;
	border: 1px solid #dedfe0;
	border-right: none;
	background: url(../images/images/注册2b_03.png) no-repeat right center;
}
.getinfo{
	display: inline-block;
	width: 119px;
	height: 47px;
	border: 1px solid #dedfe0;
	font-size:14px;
	line-height: 46px;
	color: #0988f0;
	border-left:none;
	text-align: center;
	margin-left: -8px;
}
.zhuce-box #password{
	display: inline-block;
	width: 356px;
	height: 44px;
	margin-left: 250px;
	margin-top: 14px;
	border: 1px solid #dedfe0;
}
.zhuce-box i img{
	width: 21px;
	height: 15px;
	position: absolute;
	top:335px;
	right: 265px;
}
.p2{
	font-size:12px;
	line-height: 12px;
	color: #666;
	margin:14px 0 0px 250px;
}
.erro{
	font-size:12px;
	line-height: 12px;
	color: red;
	margin:14px 0 0 250px;
}
button{
     border:none ;
	width: 360px;
	height: 48px;
	margin-left: 250px;
	margin-top:18px ;
	background: #2890F9;
}
.p4{
	font-size: 16px;
	color: white;
}

.info{
	position: absolute;
	width: 320px;
	height: 14px;
    left:523px ;
	bottom:65px;
	background: url(../images/online-service.0c3db86.png) no-repeat,url(../images/注册-手机_03.png) no-repeat 102px 0;
	background-size:14px 14px ;
}
.info .span1,.span2{
	display: inline-block;
	font-size:12px ;
	line-height: 14px;
	color: #666666;
	position: absolute;
}
.info .span1{
	left:19px;
}
.info .span1:hover{
	color: #2890F9;
}
.info .span2{
	left:121px;
}
h4{
	font-size: 12px;
	position: absolute;
	bottom:42px;
	left: 298px;
	line-height: 12px;
	color:#9d9d9d;
}










